workflows/iam-policy-evaluator.json
{
  "name": "IAS Project n8n copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        656,
        1552
      ],
      "id": "03b8c129-db51-4cbd-8518-cc574cfcce7f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 527641204,
          "mode": "list",
          "cachedResultName": "Copy of Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg/edit#gid=527641204"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        1312
      ],
      "id": "9459a32f-7ea2-4499-8902-2eaff4b2ba62",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaEC5sQyAFQxY98U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in AWS Identity and Access Management (IAM) and must generate valid AWS IAM policies in JSON format that strictly follow least privilege principles.\n\n### General Rules:\n1. The model output must be a JSON object only — no text, no comments, no explanations.\n2. Do exactly what the user prompt asks — nothing more, nothing less.\n3. Always apply AWS least-privilege best practices — include only the minimal actions, resources, and conditions required.\n4. Use **correct ARN resource patterns** (e.g., \"arn:aws:s3:::*/*\" for all S3 objects). Use `\"*\"` only when:\n   - The service does **not** support resource-level permissions, or\n   - The user explicitly specifies `\"*\"` as the resource.\n5. Interpret the user prompt **literally**:\n   - “write access” → only include actions like `s3:PutObject`\n   - “read access” → only include minimal read actions like `s3:GetObject`\n   - Do **not** assume additional permissions unless explicitly stated.\n6. If the user provides `Condition`, `Principal`, or multiple statements, preserve them **exactly** as given — do not alter key names, capitalization, or nesting.\n7. Always include `\"Version\": \"2012-10-17\"` unless the user specifies another.\n8. When `Condition` is specified, preserve all nested operators (e.g., `DateGreaterThan`, `StringEquals`, `IpAddress`, etc.) exactly as written.\n9. Return the JSON object in this structure **exactly** (do not include type metadata or schema text):\n\n\nSTRICTLY FOLLOW THIS OUTPUT FORMAT\n{\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"policy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"Version\": {\n              \"type\": \"string\",\n              \"description\": \"The policy language version, usually '2012-10-17'.\",\n              \"enum\": [\"2012-10-17\", \"2008-10-17\"]\n            },\n            \"Id\": {\n              \"type\": \"string\",\n              \"description\": \"Optional identifier for the policy.\"\n            },\n            \"Statement\": {\n              \"type\": [\"array\", \"object\"],\n              \"description\": \"One or more statements defining the policy rules.\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"Sid\": {\n                    \"type\": \"string\",\n                    \"description\": \"Optional statement identifier.\"\n                  },\n                  \"Effect\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"Allow\", \"Deny\"],\n                    \"description\": \"Allow or Deny effect.\"\n                  },\n                  \"Principal\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"object\" }\n                    ],\n                    \"description\": \"Defines the principal to which this statement applies.\"\n                  },\n                  \"Action\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS actions affected by this statement.\"\n                  },\n                  \"NotAction\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Actions explicitly excluded.\"\n                  },\n                  \"Resource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS resources affected by this statement.\"\n                  },\n                  \"NotResource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Resources explicitly excluded.\"\n                  },\n                  \"Condition\": {\n                    \"type\": \"object\",\n                    \"description\": \"Optional conditions for this statement.\",\n                    \"additionalProperties\": {\n                      \"type\": \"object\",\n                      \"additionalProperties\": {\n                        \"oneOf\": [\n                          { \"type\": \"string\" },\n                          { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                        ]\n                      }\n                    }\n                  }\n                },\n                \"required\": [\"Effect\", \"Action\", \"Resource\"],\n                \"additionalProperties\": false\n              }\n            }\n          },\n          \"required\": [\"Version\", \"Statement\"],\n          \"additionalProperties\": false\n        },\n        \"resourceArns\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"description\": \"List of AWS Resource ARNs the policy applies to.\"\n        }\n      },\n      \"required\": [\"policy\", \"resourceArns\"],\n      \"additionalProperties\": false\n    },\n  \"required\": [\"output\"],\n  \"additionalProperties\": false\n}\n\n\n### Service-Specific Rules:\n10. For services that **do not support resource-level permissions** (always require `\"Resource\": \"*\"`) such as:\n    - `account`\n    - `organizations`\n    - `support`\n    - `billing`\n    - `cloudfront-tagging`\n    - `trustedadvisor`\n    - `budgets`\n    - `securityhub`\n    always use `\"Resource\": \"*\"` and express scope or restriction using a `Condition` key (e.g., `\"account:TargetRegion\"`, `\"organizations:AccountId\"`, etc.).\n11. If a user specifies an invalid ARN for such services, automatically correct it to `\"Resource\": \"*\"` and move the restriction into a `Condition` if context implies one.\n12. For resource-based services like S3, DynamoDB, Lambda, SQS, and SNS:\n    - Use explicit ARNs when possible (never `\"*\"` unless absolutely required).\n    - Follow valid ARN patterns per service documentation.\n13. Every `Statement` should represent a single, coherent permission scope (actions + resources + conditions).  \n    If multiple SIDs are present, each represents an independent statement block.\n14. Always maintain valid IAM syntax: `\"Effect\"`, `\"Action\"`, and `\"Resource\"` are mandatory fields."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1520,
        1312
      ],
      "id": "a9e977b0-1f30-41d4-8462-fcf0e40c67b5",
      "name": "AI Agent2",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        1520
      ],
      "id": "c29656cb-6b1b-4fb0-9377-f50ad1539ced",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "oz6ZH8OCI5G2ljSs",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vc5la5rs55.execute-api.us-east-1.amazonaws.com/default/test_lambda",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "policy",
              "value": "={{ $json.output.policy }}"
            },
            {
              "name": "resourceArns",
              "value": "={{ $json.output.resourceArns }}"
            },
            {
              "name": "actionNames",
              "value": "={{ JSON.parse($('Get row(s) in sheet2').item.json['Expected Actions']) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        1312
      ],
      "id": "14f14303-4e4b-42d9-939c-26c3429f296e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{  \n  \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"policy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"Version\": {\n              \"type\": \"string\",\n              \"description\": \"The policy language version, usually '2012-10-17'.\",\n              \"enum\": [\"2012-10-17\", \"2008-10-17\"]\n            },\n            \"Id\": {\n              \"type\": \"string\",\n              \"description\": \"Optional identifier for the policy.\"\n            },\n            \"Statement\": {\n              \"type\": [\"array\", \"object\"],\n              \"description\": \"One or more statements defining the policy rules.\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"Sid\": {\n                    \"type\": \"string\",\n                    \"description\": \"Optional statement identifier.\"\n                  },\n                  \"Effect\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"Allow\", \"Deny\"],\n                    \"description\": \"Allow or Deny effect.\"\n                  },\n                  \"Principal\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"object\" }\n                    ],\n                    \"description\": \"Defines the principal to which this statement applies.\"\n                  },\n                  \"Action\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS actions affected by this statement.\"\n                  },\n                  \"NotAction\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Actions explicitly excluded.\"\n                  },\n                  \"Resource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS resources affected by this statement.\"\n                  },\n                  \"NotResource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Resources explicitly excluded.\"\n                  },\n                  \"Condition\": {\n                    \"type\": \"object\",\n                    \"description\": \"Optional conditions for this statement.\",\n                    \"additionalProperties\": {\n                      \"type\": \"object\",\n                      \"additionalProperties\": {\n                        \"oneOf\": [\n                          { \"type\": \"string\" },\n                          { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                        ]\n                      }\n                    }\n                  }\n                },\n                \"required\": [\"Effect\", \"Action\", \"Resource\"],\n                \"additionalProperties\": false\n              }\n            }\n          },\n          \"required\": [\"Version\", \"Statement\"],\n          \"additionalProperties\": false\n        },\n        \"resourceArns\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"description\": \"List of AWS Resource ARNs the policy applies to.\"\n        }\n      },\n      \"required\": [\"policy\", \"resourceArns\"],\n      \"additionalProperties\": false\n    },\n  \"required\": [\"output\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1744,
        1520
      ],
      "id": "b7935fdc-c461-4387-9e73-54efd6de7db1",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg",
          "mode": "list",
          "cachedResultName": "INPUT DATA IAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 527641204,
          "mode": "list",
          "cachedResultName": "Copy of Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg/edit#gid=527641204"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Actions",
              "displayName": "Expected Actions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LLM Result",
              "displayName": "LLM Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2496,
        1312
      ],
      "id": "7cd82e6e-1a8a-4a3e-8b11-0578be287432",
      "name": "Update row in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaEC5sQyAFQxY98U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c461047-15c5-492d-8487-e5c1ec2c6957",
              "name": "row_number",
              "value": "={{ $('Get row(s) in sheet2').item.json.row_number }}",
              "type": "string"
            },
            {
              "id": "db5700d2-dd69-434a-a510-4082961383e1",
              "name": "Prompt",
              "value": "={{ $('Get row(s) in sheet2').item.json.Prompt }}",
              "type": "string"
            },
            {
              "id": "084e0846-a57d-4233-b91c-00da8a5d41d2",
              "name": "Expected Actions",
              "value": "={{ JSON.parse($('Get row(s) in sheet2').item.json['Expected Actions']) }}",
              "type": "array"
            },
            {
              "id": "8c13d3ab-c1cb-4b0e-aff6-bc3bb1b81eed",
              "name": "OPENAI",
              "value": "={{ $json.EvaluationResults.map(r => `${r.EvalActionName}: ${r.EvalDecision}`).join(', ') }}\n",
              "type": "string"
            },
            {
              "id": "edd1fa8e-b8e5-4d6c-b38d-40a67e321823",
              "name": "OPENAI policy",
              "value": "={{ $('AI Agent2').item.json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        1312
      ],
      "id": "df24f589-d7d3-49a7-bb83-82d2b216d7ba",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Prompt }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert in AWS Identity and Access Management (IAM) and must generate valid AWS IAM policies in JSON format that strictly follow least privilege principles.\n\n### General Rules:\n1. The model output must be a JSON object only — no text, no comments, no explanations.\n2. Do exactly what the user prompt asks — nothing more, nothing less.\n3. Always apply AWS least-privilege best practices — include only the minimal actions, resources, and conditions required.\n4. Use **correct ARN resource patterns** (e.g., \"arn:aws:s3:::*/*\" for all S3 objects). Use `\"*\"` only when:\n   - The service does **not** support resource-level permissions, or\n   - The user explicitly specifies `\"*\"` as the resource.\n5. Interpret the user prompt **literally**:\n   - “write access” → only include actions like `s3:PutObject`\n   - “read access” → only include minimal read actions like `s3:GetObject`\n   - Do **not** assume additional permissions unless explicitly stated.\n6. If the user provides `Condition`, `Principal`, or multiple statements, preserve them **exactly** as given — do not alter key names, capitalization, or nesting.\n7. Always include `\"Version\": \"2012-10-17\"` unless the user specifies another.\n8. When `Condition` is specified, preserve all nested operators (e.g., `DateGreaterThan`, `StringEquals`, `IpAddress`, etc.) exactly as written.\n9. Return the JSON object in this structure **exactly** (do not include type metadata or schema text):\n\n\nSTRICTLY FOLLOW THIS OUTPUT FORMAT\n{\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"policy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"Version\": {\n              \"type\": \"string\",\n              \"description\": \"The policy language version, usually '2012-10-17'.\",\n              \"enum\": [\"2012-10-17\", \"2008-10-17\"]\n            },\n            \"Id\": {\n              \"type\": \"string\",\n              \"description\": \"Optional identifier for the policy.\"\n            },\n            \"Statement\": {\n              \"type\": [\"array\", \"object\"],\n              \"description\": \"One or more statements defining the policy rules.\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"Sid\": {\n                    \"type\": \"string\",\n                    \"description\": \"Optional statement identifier.\"\n                  },\n                  \"Effect\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"Allow\", \"Deny\"],\n                    \"description\": \"Allow or Deny effect.\"\n                  },\n                  \"Principal\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"object\" }\n                    ],\n                    \"description\": \"Defines the principal to which this statement applies.\"\n                  },\n                  \"Action\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS actions affected by this statement.\"\n                  },\n                  \"NotAction\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Actions explicitly excluded.\"\n                  },\n                  \"Resource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS resources affected by this statement.\"\n                  },\n                  \"NotResource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Resources explicitly excluded.\"\n                  },\n                  \"Condition\": {\n                    \"type\": \"object\",\n                    \"description\": \"Optional conditions for this statement.\",\n                    \"additionalProperties\": {\n                      \"type\": \"object\",\n                      \"additionalProperties\": {\n                        \"oneOf\": [\n                          { \"type\": \"string\" },\n                          { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                        ]\n                      }\n                    }\n                  }\n                },\n                \"required\": [\"Effect\", \"Action\", \"Resource\"],\n                \"additionalProperties\": false\n              }\n            }\n          },\n          \"required\": [\"Version\", \"Statement\"],\n          \"additionalProperties\": false\n        },\n        \"resourceArns\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"description\": \"List of AWS Resource ARNs the policy applies to.\"\n        }\n      },\n      \"required\": [\"policy\", \"resourceArns\"],\n      \"additionalProperties\": false\n    },\n  \"required\": [\"output\"],\n  \"additionalProperties\": false\n}\n\n\n### Service-Specific Rules:\n10. For services that **do not support resource-level permissions** (always require `\"Resource\": \"*\"`) such as:\n    - `account`\n    - `organizations`\n    - `support`\n    - `billing`\n    - `cloudfront-tagging`\n    - `trustedadvisor`\n    - `budgets`\n    - `securityhub`\n    always use `\"Resource\": \"*\"` and express scope or restriction using a `Condition` key (e.g., `\"account:TargetRegion\"`, `\"organizations:AccountId\"`, etc.).\n11. If a user specifies an invalid ARN for such services, automatically correct it to `\"Resource\": \"*\"` and move the restriction into a `Condition` if context implies one.\n12. For resource-based services like S3, DynamoDB, Lambda, SQS, and SNS:\n    - Use explicit ARNs when possible (never `\"*\"` unless absolutely required).\n    - Follow valid ARN patterns per service documentation.\n13. Every `Statement` should represent a single, coherent permission scope (actions + resources + conditions).  \n    If multiple SIDs are present, each represents an independent statement block.\n14. Always maintain valid IAM syntax: `\"Effect\"`, `\"Action\"`, and `\"Resource\"` are mandatory fields."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1536,
        1728
      ],
      "id": "10d90a9e-dafe-42de-a60e-46dfb780ac56",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1408,
        1920
      ],
      "id": "9a5aac70-3048-44f1-bc89-9d577996e9dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IQdVpQ90uQSctoNX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{  \n  \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"policy\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"Version\": {\n              \"type\": \"string\",\n              \"description\": \"The policy language version, usually '2012-10-17'.\",\n              \"enum\": [\"2012-10-17\", \"2008-10-17\"]\n            },\n            \"Id\": {\n              \"type\": \"string\",\n              \"description\": \"Optional identifier for the policy.\"\n            },\n            \"Statement\": {\n              \"type\": [\"array\", \"object\"],\n              \"description\": \"One or more statements defining the policy rules.\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"Sid\": {\n                    \"type\": \"string\",\n                    \"description\": \"Optional statement identifier.\"\n                  },\n                  \"Effect\": {\n                    \"type\": \"string\",\n                    \"enum\": [\"Allow\", \"Deny\"],\n                    \"description\": \"Allow or Deny effect.\"\n                  },\n                  \"Principal\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"object\" }\n                    ],\n                    \"description\": \"Defines the principal to which this statement applies.\"\n                  },\n                  \"Action\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS actions affected by this statement.\"\n                  },\n                  \"NotAction\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Actions explicitly excluded.\"\n                  },\n                  \"Resource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"The AWS resources affected by this statement.\"\n                  },\n                  \"NotResource\": {\n                    \"oneOf\": [\n                      { \"type\": \"string\" },\n                      { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                    ],\n                    \"description\": \"Resources explicitly excluded.\"\n                  },\n                  \"Condition\": {\n                    \"type\": \"object\",\n                    \"description\": \"Optional conditions for this statement.\",\n                    \"additionalProperties\": {\n                      \"type\": \"object\",\n                      \"additionalProperties\": {\n                        \"oneOf\": [\n                          { \"type\": \"string\" },\n                          { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n                        ]\n                      }\n                    }\n                  }\n                },\n                \"required\": [\"Effect\", \"Action\", \"Resource\"],\n                \"additionalProperties\": false\n              }\n            }\n          },\n          \"required\": [\"Version\", \"Statement\"],\n          \"additionalProperties\": false\n        },\n        \"resourceArns\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"description\": \"List of AWS Resource ARNs the policy applies to.\"\n        }\n      },\n      \"required\": [\"policy\", \"resourceArns\"],\n      \"additionalProperties\": false\n    },\n  \"required\": [\"output\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1776,
        1920
      ],
      "id": "ecc32301-b5b1-4a07-9a4e-5f8133828199",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 527641204,
          "mode": "list",
          "cachedResultName": "Copy of Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg/edit#gid=527641204"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        1728
      ],
      "id": "5569dd3c-66a4-4f3a-a53f-438fec5fa7e0",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaEC5sQyAFQxY98U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vc5la5rs55.execute-api.us-east-1.amazonaws.com/default/test_lambda",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "policy",
              "value": "={{ $json.output.policy }}"
            },
            {
              "name": "resourceArns",
              "value": "={{ $json.output.resourceArns }}"
            },
            {
              "name": "actionNames",
              "value": "={{ JSON.parse($('Get row(s) in sheet3').item.json['Expected Actions']) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        1728
      ],
      "id": "e3c0f940-2ec1-47f3-8a34-85a304552f09",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg",
          "mode": "list",
          "cachedResultName": "INPUT DATA IAS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 527641204,
          "mode": "list",
          "cachedResultName": "Copy of Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14Gy30B52cAMnQiROACOZmdF3c0Z600rJebO3YWBnlTg/edit#gid=527641204"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expected Actions",
              "displayName": "Expected Actions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LLM Result",
              "displayName": "LLM Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2512,
        1728
      ],
      "id": "68b8d3d9-423f-49c2-8088-289caa3047f2",
      "name": "Update row in sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaEC5sQyAFQxY98U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c461047-15c5-492d-8487-e5c1ec2c6957",
              "name": "row_number",
              "value": "={{ $('Get row(s) in sheet3').item.json.row_number }}",
              "type": "string"
            },
            {
              "id": "db5700d2-dd69-434a-a510-4082961383e1",
              "name": "Prompt",
              "value": "={{ $('Get row(s) in sheet3').item.json.Prompt }}",
              "type": "string"
            },
            {
              "id": "084e0846-a57d-4233-b91c-00da8a5d41d2",
              "name": "Expected Actions",
              "value": "={{ JSON.parse($('Get row(s) in sheet3').item.json['Expected Actions']) }}",
              "type": "array"
            },
            {
              "id": "6168dbf9-bb12-45d0-a02c-34b250d77caf",
              "name": "GEMINI policy",
              "value": "={{ $('AI Agent3').item.json.output }}",
              "type": "object"
            },
            {
              "id": "8c13d3ab-c1cb-4b0e-aff6-bc3bb1b81eed",
              "name": "GEMINI",
              "value": "={{ $json.EvaluationResults.map(r => `${r.EvalActionName}: ${r.EvalDecision}`).join(', ') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1728
      ],
      "id": "38fdd69c-d9da-41bb-bca7-a9da65604433",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "17abcef8-91d3-426f-867e-d23ce450e0c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b6877e2c1f3ea2edb7f4f51cfa15257f7b04840422254d09c789d346aa79abc2"
  },
  "id": "iuvY6YakHbuLGwe9",
  "tags": []
}
